.btn {
    &:link,
    &:visited {
      font-size: 1.5rem;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      padding: 1.5rem 4rem;
      border-radius: 10rem;
      transition: all 0.2s;
      position: relative;
    }
  
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
  
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.6);
    }
  
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  
    &:active::after {
      transform: scaleX(1.3) scaleY(1.9);
      opacity: 0;
    }
    
  }
  
  .btn--white {
    background-color: $color-white;
    color: $color-gray-dark;
  
    &::after {
      background-color: $color-white;
    }
  
  }
  
  .btn--animated {
    animation: 1s scaling ease;
    animation-fill-mode: backwards;
  }